@import url("https://fonts.cdnfonts.com/css/poppins");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #000000;
  font-family: "Poppins", sans-serif;
  color: #fff;
  overflow-x: hidden;
}

header {
  width: 100%;
  height: 7vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #000000;
}


nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin-left: 2.5%;
  background-color: #000000;
}

header h2 {
  font-size: 2.5rem;
}

a {
  list-style-type: none;
  text-decoration: none;
  color: #fff;
}

#navlist {
  display: none;
}

#navlist li {
  display: grid;
  place-items: center;
  width: 100%;
  text-align: center;
  height: 60px;
  border-bottom: 1px solid lightgray;
  font-size: 1.4rem;
  background-color: #000000;
}

#navlist a :hover,
#navlist a :focus {
  font-size: 170%;
}

nav ul {
  gap: 20px;
  list-style-type: none;
  display: none;
  margin: 0;
}

@media (min-width: 570px) and (max-width: 610px) {
  nav {
    width: 90%;
    margin-left: 5%;
  }

  header li {
    font-size: 1.5rem;
  }
}

@media (min-width: 611px) and (max-width: 987px) {
  nav {
    width: 80%;
    margin-left: 10%;
  }

  header li {
    font-size: 1.5rem;
  }
}

@media (min-width: 988px) and (max-width: 1100px) {
  nav {
    width: 90%;
    margin-left: 5%;
    /* justify-content: space-; */
  }

  header li {
    font-size: 1.5rem;
    border-bottom: none;
  }



  nav ul {
    display: flex;
    gap: 30px;
    list-style-type: none;
  }

  nav a {
    text-decoration: none;
    border-bottom: none;
  }

  .fa-bars {
    display: none !important;
  }
}

@media screen and (min-width: 1100px) {
  nav {
    width: 90%;
    margin-left: 5%;
    justify-content: space-around;
  }

  header {
    border-bottom: none;
  }

  header li {
    font-size: 1.5rem;
    border-bottom: none;
  }



  nav ul {
    display: flex;
    gap: 40px;
    list-style-type: none;
  }

  nav a {
    text-decoration: none;
    border-bottom: none;
  }

  .fa-bars {
    display: none !important;
  }
}

#intro {
  height: 93vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 7vh;
}

.profile {
  display: none;
}

#intro1 span {
  color: #ffbd39;
  display: inline-block;
  word-wrap: break-word;
}


#intro1 p {
  font-size: 1.5rem;
}

#intro1 h1 {
  font-size: 2.5rem;
}

#intro1 h3 {
  font-size: 1.7rem;
}

.buttons {
  width: 100%;
  margin-top: 2rem;
}




.buttons button {
  width: 35%;
  height: 3.5rem;
  background-color: #ffbd39;
  border-radius: 3rem;
  font-size: 1rem;
  font-weight: bold;
  color: #000000;
  margin-right: 0.5rem;
  border-style: none;
}

.buttons :nth-child(2) {
  width: 35%;
  height: 3.5rem;
  border-radius: 3rem;
  background-color: #000000;
  border: 1px solid gray;
  font-size: 0.9rem;
  font-weight: bold;
  color: #ffffff;
}

@media (min-width: 573px) and (max-width: 640px) {
  #intro {
    width: 100%;
  }

  #intro1 p {
    font-size: 1.8rem;
  }

  #intro1 h1 {
    font-size: 3rem;
  }

  #intro1 h3 {
    font-size: 2rem;
  }
}

@media (min-width: 641px) and (max-width: 750px) {
  #intro {
    width: 100%;
    display: flex;
    justify-content: center;
  }


  #intro1 p {
    font-size: 2rem;
  }

  #intro1 h1 {
    font-size: 3.3rem;
  }

  #intro1 h3 {
    font-size: 2.2rem;
  }
}

@media (min-width: 751px) and (max-width: 987px) {

  #intro {
    justify-content: space-around;
  }

  #intro1 p {
    font-size: 1.5rem;
  }

  #intro1 h1 {
    font-size: 2.5rem;
  }

  #intro1 h3 {
    font-size: 1.7rem;
  }

  #intro {
    margin-left: 10%;
  }

  .buttons button {
    width: 35%;
    height: 3.5rem;
    background-color: #ffbd39;
    border-radius: 3rem;
    font-size: 1rem;
    font-weight: bold;
    color: #000000;
    margin-right: 0.5rem;
  }

  .buttons :nth-child(2) {
    width: 45%;
    height: 3.5rem;
    border-radius: 3rem;
    background-color: #000000;
    border: 1px solid gray;
    font-size: 1rem;
    font-weight: bold;
    color: #ffffff;
  }

  .profile {
    display: inline-block;
    margin-right: 5%;
    height: 300px;
    width: 300px;
    transition: transform 0.3s ease-in-out;
    animation: bounce 1.5s infinite alternate;
    border-radius: 2rem;
  }

  .profile img {
    height: 300px;
    border-radius: 2rem;
  }

  @keyframes bounce {

    0%,
    100% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(-20px);
    }
  }

  .profile:hover {
    transform: scale(1.1);
  }
}

@media (min-width: 988px) and (max-width: 1307px) {
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #intro {
    padding-left: 10%;
    width: 90%;
    justify-content: space-between;

  }

  #intro1 p {
    font-size: 1.5rem;
  }

  #intro1 h1 {
    font-size: 2.8rem;
  }

  #intro1 h3 {
    font-size: 1.7rem;
  }


  .profile {
    display: inline-block;
    margin-right: 10%;
    height: 400px;
    width: 400px;
    transition: transform 0.3s ease-in-out;
    animation: bounce 1.5s infinite alternate;
    border-radius: 2rem;
  }

  .profile img {
    height: 400px;
    border-radius: 2rem;
  }

  @keyframes bounce {

    0%,
    100% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(-20px);
    }
  }

  .profile:hover {
    transform: scale(1.1);
  }

  header .fa-solid {
    display: none !important;
  }
}

@media (min-width: 1308px) and (max-width: 1609px) {

  #intro {
    width: 80%;
    justify-content: space-between;
  }

  #intro {
    margin-left: 15%;
  }

  #intro1 {
    display: flex;
    flex-direction: column;
    justify-content: start;
  }

  #intro1 p {
    font-size: 2rem;
  }

  #intro h1 {
    font-size: 3.5rem;
  }

  #intro1 h3 {
    font-size: 2rem;
  }



  .profile {
    display: contents;
    display: inline-block;
    margin-right: 10%;
    padding-bottom: 10px;
    height: 400px;
    width: 400px;
    transition: transform 0.3s ease-in-out;
    animation: bounce 1.5s infinite alternate;
    border-radius: 2rem;
  }

  .profile img {
    height: 400px;
    border-radius: 2rem;
  }

  @keyframes bounce {

    0%,
    100% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(-20px);
    }
  }

  .profile:hover {
    transform: scale(1.1);
  }

  header .fa-solid {
    display: none !important;
  }
}

@media screen and (min-width: 1610px) {
  #intro {
    width: 90%;
    display: flex;
    justify-content: space-around;
    margin-left: 7%;
  }

  #intro1 p {
    font-size: 2rem;
  }

  #intro1 h1 {
    font-size: 3.5rem;
  }

  #intro1 h3 {
    font-size: 2rem;
  }


  .profile {
    display: inline-block;
    padding-bottom: 20px;
    height: 600px;
    width: 600px;
    transition: transform 0.3s ease-in-out;
    animation: bounce 1.5s infinite alternate;
    border-radius: 2rem;
  }

  .profile img {
    height: 600px;
    border-radius: 2rem;
  }

  @keyframes bounce {

    0%,
    100% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(-20px);
    }
  }

  .profile:hover {
    transform: scale(1.1);
  }

  header .fa-solid {
    display: none !important;
  }
}

#about {
  width: 80%;
  margin-left: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.img-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.img-container img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

#about h2 {
  font-size: 2.2rem;
  text-align: center;
  margin-top: 2rem;
}

#about p {
  padding-top: 1rem;
  padding-bottom: 0.7rem;
  text-align: center;
  width: 90%;
  font-size: 0.75rem;
}

@media (min-width: 570px) and (max-width: 610px) {
  .about p {
    font-size: 0.8rem;
  }

  .about h2 {
    font-size: 2.5rem;
  }
}

@media (min-width: 611px) and (max-width: 750px) {
  #about {
    width: 90%;
    margin-left: 5%;
  }

  .about h2 {
    font-size: 2.5rem;
  }

  .about p {
    font-size: 0.85rem;
  }
}

@media (min-width: 751px) and (max-width: 987px) {
  #about {
    width: 100%;
    /* margin-left: 10%; */
    margin-left: 0;
  }

  #about h2 {
    font-size: 2.5rem;
    text-align: center;
  }

  #about p {
    font-size: 0.9rem;
  }

  .img-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .img-container img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
  }
}

@media screen and (min-width: 980px) {
  #about {
    width: 90%;
    margin-left: 5%;
    margin-bottom: 2rem;
  }

  #about h2 {
    font-size: 2.5rem;
    padding-top: 1.2rem;
  }

  #about p {
    font-size: 1.1rem;
  }

  .img-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .img-container img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
  }
}

.skills {
  overflow-x: hidden;
  margin-top: 10%;
  width: 100%;
}

.skills h2 {
  text-align: center;
  font-size: 2.2rem;
  padding-bottom: 1rem;
  padding-top: 2rem;
}

.skills .des {
  font-size: 1rem;
  color: #999999;
  width: 100%;
  text-align: center;
  padding: 0 1rem 1rem 2rem;
  margin-bottom: 3rem;
}

.container {
  height: 25px;
  background-color: #191919;
  width: 80%;
  margin-bottom: 20px;
  border-radius: 5px;
  margin-left: 10%;
}

.topic {
  margin-left: 10%;
  font-size: 1.3rem;
  padding-bottom: 5px;
}

.bar {
  font-size: 1rem;
}

.ms-office {
  background-color: #ffbd39;
  border-radius: 5px;
  width: 80%;
  text-align: end;
}

.python {
  background-color: #ffbd39;
  border-radius: 5px;
  width: 35%;
  text-align: end;
}

.html {
  background-color: #ffbd39;
  border-radius: 5px;
  width: 75%;
  text-align: end;
}

.css {
  background-color: #ffbd39;
  border-radius: 5px;
  width: 55%;
  text-align: end;
}

.js {
  background-color: #ffbd39;
  border-radius: 5px;
  width: 45%;
  text-align: end;
}

.jquery {
  background-color: #ffbd39;
  border-radius: 5px;
  width: 30%;
  text-align: end;
}

.node {
  background-color: #ffbd39;
  border-radius: 5px;
  width: 50%;
  text-align: end;
}

.express {
  background-color: #ffbd39;
  border-radius: 5px;
  width: 60%;
  text-align: end;
}

.ejs {
  background-color: #ffbd39;
  border-radius: 5px;
  width: 45%;
  text-align: end;
}

.api {
  background-color: #ffbd39;
  border-radius: 5px;
  width: 50%;
  text-align: end;
}

.mysql {
  background-color: #ffbd39;
  border-radius: 5px;
  width: 60%;
  text-align: end;
}

.postgres {
  background-color: #ffbd39;
  border-radius: 5px;
  width: 70%;
  text-align: end;
}

.react {
  background-color: #ffbd39;
  border-radius: 5px;
  width: 55%;
  text-align: end;
}

.vue {
  background-color: #ffbd39;
  border-radius: 5px;
  width: 40%;
  text-align: end;
}

@media (min-width: 670px) and (max-width: 767px) {
  .project {
    width: 100%;
  }

  .container {
    width: 80%;
    margin-bottom: 20px;
    border-radius: 5px;
    margin-left: 15%;
  }

  .topic {
    padding-left: 5%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {

  /* .skills {
        margin-left: 10%;
    } */

  .skills-list {
    display: flex;
    width: 100%;
  }

  .set {
    width: 100%;
  }

  .container {
    height: 25px;
    background-color: #191919;
    width: 60%;
    margin-bottom: 20px;
    border-radius: 5px;
    margin-left: 10%;
  }

  .last {
    width: 50%;
  }

  .wrapper {
    width: 90%;
    margin-left: 9%;
  }

  .skills .des {
    font-size: 1.1rem;
  }
}


@media screen and (min-width: 992px) {
  .skills {
    width: 90%;
    margin-left: 5%;
    /* margin-top: 2%; */
  }

  .skills-list {
    display: flex;
    width: 100%;
  }

  .set {
    width: 100%;
  }

  .container {
    height: 25px;
    background-color: #191919;
    width: 70%;
    margin-bottom: 20px;
    border-radius: 5px;
    margin-left: 6.5%;
  }

  .last {
    width: 100%;
  }

  .wrapper {
    width: 90%;
    margin-left: 9%;
  }

  .skills .des {
    font-size: 1.2rem;
  }
}

.projects {
  /* background-color: blue; */
  display: block;
  overflow-x: hidden;
  /* margin-top: 10%; */
}

.project-des {
  font-size: 1rem;
  color: #999999;
  text-align: center;
  margin-bottom: 3rem;
  width: 90%;
  margin-left: 5%;
}

.container1 {
  height: 450px;
  width: 80%;
  border: 2px solid lightgray;
  margin-left: 10%;
  margin-bottom: 2rem;
  border-radius: 1rem;
}

.projects h2 {
  text-align: center;
  font-size: 2.2rem;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.img-frame {
  width: 90%;
  margin-left: 5%;
  height: 50%;
  margin-top: 2rem;
}

.img-frame img {
  height: 100%;
  object-fit: contain;
  width: 100%;
}

.container1 h4 {
  padding-left: 5%;
  margin-top: 0.5rem;
  color: #ffbd39;
}

.container1 h3 {
  padding-left: 5%;
  padding-top: 0.5rem;
}

.container1 p {
  font-size: 0.71rem;
  padding-left: 5%;
  padding-top: 0.5rem;
}

@media (min-width: 670px) and (max-width: 767px) {
  .projects {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .container1 p {
    font-size: 0.8rem;
    padding-left: 5%;
    padding-top: 0.5rem;
  }

  .project-des,
  .projects h2 {
    text-align: center;
  }

  .project-container {
    margin-right: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container1 {
    height: 450px;
    width: 70%;
    border: 2px solid lightgray;

    margin-bottom: 2rem;
  }
}

@media (min-width: 768px) and (max-width: 991px) {


  .project-container {
    width: 90%;
    /* background-color: blue; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-left: 2.5%;
  }


  .container1 {
    height: 450px;
    width: 90%;
    border: 2px solid lightgray;
    margin-left: 10%;
    margin-bottom: 2rem;
  }

  .container1 p {
    font-size: 0.8rem !important;
    padding-left: 5%;
    padding-top: 0.5rem;
    padding-right: 0.5rem;
  }

  .project-des {
    font-size: 1.1rem;
    text-align: center;
  }
}

@media (min-width: 991px) and (max-width: 1131px) {
  .project-container {
    /* background-color: blue; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 90%;
    margin-left: 5%;
  }

  .container1 {
    height: 450px;
    width: 90%;
    border: 2px solid lightgray;
    margin-left: 5%;
    margin-bottom: 2rem;
  }

  .container1 p {
    font-size: 0.85rem !important;
    padding-left: 5%;
    padding-top: 0.5rem;
    padding-right: 0.5rem;
  }

  .project-des {
    font-size: 1.2rem;
  }
}

@media (min-width: 1132px) and (max-width: 1581px) {
  .project-container {
    /* background-color: blue; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 95%;
    margin-left: 2.5%;
  }

  .container1 {
    height: 450px;
    width: 90%;
    border: 2px solid lightgray;
    margin-left: 5%;
    margin-bottom: 2rem;
  }

  .container1 p {
    font-size: 0.8rem !important;
    padding-left: 5%;
    padding-top: 0.5rem;
    padding-right: 0.5rem;
  }

  .project-des {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 1582px) {

  .project-container {
    /* background-color: blue; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 0;
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 80%;
    margin-left: 8%;
  }

  .container1 {
    height: 450px;
    width: 90%;
    border: 2px solid lightgray;
    /* margin-left: 15%; */
    margin-bottom: 2rem;
  }

  .container1 p {
    font-size: 0.9rem !important;
    padding-left: 5%;
    padding-top: 0.5rem;
    padding-right: 0.5rem;
  }

  .project-des {
    font-size: 1.2rem;
    width: 80%;
    padding-left: 15%;
  }
}

.contact {
  width: 100vw;
  overflow: hidden;
  margin-bottom: 2rem;
}

.contact h2 {
  text-align: center;
  font-size: 2.2rem;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.contact-img {
  display: none;
}

.form {
  background-color: #ffffff;
  width: 80%;
  height: 560px;
  margin-left: 10%;
}

.form input {
  width: 90%;
  margin-left: 4%;
  height: 3.5rem;
  background-color: #ffffff;
  margin-top: 20px;
  color: #000000;
  font-size: 1rem;
  padding-left: 1%;
  border: 0.5px solid gray;
  border-radius: 5px;
}

.form :last-child {
  background-color: #ffbd39;
  height: 3.5rem;
  border-radius: 3rem;
  font-weight: 500;
}

::placeholder {
  font-size: 1rem;
}

textarea {
  width: 90%;
  margin-left: 4%;
  padding-left: 1%;
  padding-top: 5px;
  height: 180px;
  margin-top: 20px;
  color: #000000;
  background-color: #ffffff;
  border: 0.5px solid gray;
  border-radius: 5px;
  font-size: 1rem;
}

@media (min-width: 576px) and (max-width: 767px) {
  .form {
    background-color: #ffffff;
    width: 70%;
    height: 560px;
    margin-left: 14%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .contact {
    overflow: hidden;
  }

  #grid {
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 9%;
    gap: 0;
  }

  .contact-img {
    display: contents;
    background-color: blue;
    width: 100%;
    overflow: hidden;
  }

  .contact img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .form {
    width: 100%;
    height: 560px;
    margin-left: 0;
  }

  .form input {
    width: 70%;
    margin-left: 14%;
    height: 3.5rem;
    background-color: #ffffff;
    margin-top: 20px;
    color: #000000;
    font-size: 0.9rem;
    padding-left: 1%;
    border: 0.5px solid gray;
    border-radius: 5px;
  }

  .form :last-child {
    background-color: #ffbd39;
    height: 3.5rem;
    border-radius: 3rem;
  }

  ::placeholder {
    font-size: 1rem;
  }

  textarea {
    width: 70%;
    margin-left: 14%;
    padding-left: 1%;
    padding-top: 5px;
    height: 180px;
    margin-top: 20px;
    color: #000000;
    background-color: #ffffff;
    border: 0.5px solid gray;
    border-radius: 5px;
    font-size: 0.9rem;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .contact {
    overflow: hidden;
  }

  #grid {
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 9%;
    gap: 0;
  }

  .contact-img {
    display: contents;
    background-color: blue;
    width: 100%;
    overflow: hidden;
  }

  .contact img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .form {
    width: 100%;
    height: 560px;
    margin-left: 0;
  }

  .form input {
    width: 80%;
    margin-left: 9%;
    height: 3.5rem;
    background-color: #ffffff;
    margin-top: 20px;
    color: #000000;
    font-size: 1rem;
    padding-left: 1%;
    border: 0.5px solid gray;
    border-radius: 5px;
  }

  .form :last-child {
    background-color: #ffbd39;
    height: 3.5rem;
    border-radius: 3rem;
  }

  ::placeholder {
    font-size: 1rem;
  }

  textarea {
    width: 80%;
    margin-left: 9%;
    padding-left: 1%;
    padding-top: 5px;
    height: 180px;
    margin-top: 20px;
    color: #000000;
    background-color: #ffffff;
    border: 0.5px solid gray;
    border-radius: 5px;
    font-size: 1rem;
  }
}

@media screen and (min-width: 1200px) {
  .contact {
    height: 80vh;
  }

  #grid {
    width: 60%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-left: 19%;
    gap: 0;
  }

  .contact-img {
    display: contents;
    background-color: blue;
    width: 100%;
    overflow: hidden;
  }

  .contact img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .form {
    width: 100%;
    height: 670px;
    margin-left: 0;
  }

  .form input {
    width: 80%;
    margin-left: 9%;
    height: 3.7rem;
    background-color: #ffffff;
    margin-top: 20px;
    color: #000000;
    font-size: 1.2rem;
    padding-left: 1%;
    border: 0.5px solid gray;
    border-radius: 5px;
  }

  .form :first-child {
    margin-top: 4rem;
  }

  .form :last-child {
    background-color: #ffbd39;
    height: 3.5rem;
    border-radius: 3rem;
  }

  ::placeholder {
    font-size: 1rem;
  }

  textarea {
    width: 80%;
    margin-left: 9%;
    padding-left: 1%;
    padding-top: 5px;
    height: 180px;
    margin-top: 20px;
    color: #000000;
    background-color: #ffffff;
    border: 0.5px solid gray;
    border-radius: 5px;
    font-size: 1.2rem;
  }
}

footer {
  width: 100vw;
  /* height: 15vh; */
  /* background-color: blue; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top: 1px solid lightgray;
}


.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2.5rem;
  margin-bottom: 1.8rem;
  margin-top: 2rem;
}

.nav {
  margin-bottom: 1rem;
}

.nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  font-size: 1rem;
}

@media (min-width: 611px) and (max-width: 987px) {
  footer {
    width: 100vw;
    /* height: 15vh; */
    /* background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid lightgray;
  }


  .socials {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2.5rem;
    margin-bottom: 1.8rem;
    margin-top: 2rem;
  }

  .nav {
    margin-bottom: 1rem;
  }

  .nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-size: 1.2rem;
  }

  .copyright {
    font-size: 1.2rem;
  }
}



@media screen and (min-width: 988px) {
  footer {
    width: 100vw;
    /* height: 15vh; */
    /* background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid lightgray;
  }


  .socials {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2.5rem;
    margin-bottom: 1.8rem;
    margin-top: 2rem;
  }

  .nav {
    margin-bottom: 1rem;
  }

  .nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-size: 1.4rem;
  }

  .copyright {
    font-size: 1.4rem;
  }
}